.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  display: inline-table; }

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* End hide from IE-mac */
html, body {
  height: 100%; }

a:hover {
  text-decoration: none;
  opacity: 50%; }

ul {
  list-style: none; }

#container {
  height: 100%; }

#nav {
  position: fixed;
  z-index: 1;
  width: 180px;
  height: 100%;
  border-right: 1px solid #95a5a6;
  background-color: white; }
  #nav #nav-top-image {
    margin-top: 60px;
    margin-left: 14px; }
    #nav #nav-top-image img {
      width: 150px;
      height: auto; }
  #nav #links {
    width: 100%;
    margin-top: 100px; }
  #nav .link {
    margin-left: 36px;
    margin-bottom: 10px;
    width: 108px;
    height: 25px;
    border-bottom: solid 2px; }
    #nav .link a {
      width: 100%;
      height: 100%; }
    #nav .link p {
      color: black;
      margin-left: 4px;
      font-size: 14px; }
  #nav .info {
    border-bottom-color: #e74c3c; }
  #nav .greetings {
    border-bottom-color: #3498db; }
  #nav .works {
    border-bottom-color: #f1c40f; }
  #nav .gallery {
    border-bottom-color: #27ae60; }
  #nav .staff {
    border-bottom-color: #e67e22; }
  #nav .links {
    border-bottom-color: #9b59b6; }

@media all and (max-width: 719px) {
  #nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 75px;
    border-right: none;
    border-bottom: 1px solid #95a5a6;
    background-color: white; }
    #nav #nav-top-image {
      margin-top: 10px;
      margin-left: 10px; }
      #nav #nav-top-image img {
        float: left;
        width: auto;
        height: 55px; }
    #nav #links {
      float: right;
      width: 480px;
      margin-top: 18px; }
    #nav .link {
      float: left;
      margin-left: 10px;
      margin-bottom: 10px;
      width: 60px;
      height: 18px;
      border-bottom: solid 2px; }
      #nav .link a {
        width: 100%;
        height: 100%; }
      #nav .link p {
        margin-left: 0px;
        color: black;
        text-align: center;
        font-size: 10px; }
    #nav .info {
      border-bottom-color: #e74c3c; }
    #nav .greetings {
      border-bottom-color: #3498db; }
    #nav .works {
      border-bottom-color: #f1c40f; }
    #nav .gallery {
      border-bottom-color: #27ae60; }
    #nav .staff {
      border-bottom-color: #e67e22; }
    #nav .links {
      border-bottom-color: #9b59b6; }

  #nav {
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out; }

  #nav.sticky {
    background-color: rgba(255, 255, 255, 0.9);
    height: 40px; }
    #nav.sticky #nav-top-image {
      display: none; }
    #nav.sticky #links {
      width: 270px;
      float: none;
      margin: 10px auto; }
    #nav.sticky .link {
      position: relative;
      width: 18%;
      float: left;
      margin-left: 2%;
      margin-bottom: 10px;
      height: 18px; }
      #nav.sticky .link a {
        width: 100%;
        height: 100%; }
      #nav.sticky .link p {
        margin-left: 0px;
        color: black;
        text-align: center;
        font-size: 8px; } }
@media all and (max-width: 600px) {
  #nav #links {
    width: 240px;
    margin-top: 0px; } }
#main {
  position: relative;
  width: -webkit-calc(100% - 180px);
  width: calc(100% - 180px);
  left: 180px; }
  #main .title {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    float: left;
    padding: 10px;
    border-bottom: solid 3px; }
    #main .title p {
      font-size: 40px; }

@media all and (max-width: 719px) {
  #main {
    position: relative;
    width: 100%;
    left: 0px; }
    #main > div {
      padding-top: 140px; }
    #main .title {
      margin: 0 auto 40px;
      width: 240px;
      float: none;
      padding: 10px;
      border-bottom: solid 3px; }
      #main .title p {
        font-size: 40px;
        text-align: center; } }
#main {
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out; }

#main.goast {
  opacity: 0.0; }

/*# sourceMappingURL=style.css.map */
