html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#main {
  height: 100%;
}

#top {
  position: relative;
  width: 500px;
  height: 500px;
  background-color: gray;
  margin: 0 auto;
  .sprite {
    position: absolute;
    background-size: contain;
    // for animation
    transition: background-image .4s ease-in-out;
    -webkit-transition: background-image .4s ease-in-out;
    transition: width .1s ease-in-out, height .1s ease-in-out;
    -webkit-transition: width .1s ease-in-out, height .1s ease-in-out;
  }
  .sprite.bigmark-c { background-image: url(../img/bigmark-c.png); }
  .sprite.bigmark-m { background-image: url(../img/bigmark-m.png); }
  .sprite.bigmark-y { background-image: url(../img/bigmark-y.png); }
  .sprite.md-size   { width: 20%; height: 20%; }
  .sprite.lg-size   { width: 40%; height: 40%; }
  #sprite-0 {left: 20%; }
  #sprite-1 {left: 50%; }
  #sprite-2 {left: 80%; }
}
