html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
 background-color: white;
}

#main {
  background-color: black;
  height: 100%;
  @media all and (max-width: 719px) { // smart
    margin-top: 75px;
    height: -webkit-calc(100% - 75px) ;
    height: calc(100% - 75px);
  }
}

#top {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  .sprite {
    position: absolute;
    width: 80%;
    height: 80%;
    background-size: contain;
    // for animation
    transition: background-image .4s ease-in-out;
    -webkit-transition: background-image .4s ease-in-out;
    transition: width .1s ease-in-out, height .1s ease-in-out;
    -webkit-transition: width .1s ease-in-out, height .1s ease-in-out;
  }
  .sprite.bigmark-c { background-image: url(../img/bigmark-c.png); }
  .sprite.bigmark-m { background-image: url(../img/bigmark-m.png); }
  .sprite.bigmark-y { background-image: url(../img/bigmark-y.png); }
  .sprite.bigmark-r { background-image: url(../img/bigmark-r.png); }
  .sprite.bigmark-g { background-image: url(../img/bigmark-g.png); }
  .sprite.bigmark-b { background-image: url(../img/bigmark-b.png); }

  #sprite-0 {
    left: -25%;
    top: 10%;
  }
  #sprite-1 {
    left: 10%;
    top: 10%;
  }
  #sprite-2 {
    left: 45%;
    top: 10%;
  }

  .hidden { display: none; }
  .text {
    position: absolute;
    opacity: 0.0;
    p {
      text-align: center;
      line-height: 28px;
      font-size: 24px;
    }
    p.default { color: black; }
    p.inverted { color: white; }
  }
}
