html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

body {
 background-color: white;
}

#main {
  position: fixed;
  background-color: black;
  height: 100%;
  @media all and (max-width: 719px) { // smart
    margin-top: 75px;
    height: -webkit-calc(100% - 75px) ;
    height: calc(100% - 75px);
  }
}

#intro_back {
  position: fixed;
  width: 100%;
  height: 100%;
  // background-color: blue;
  canvas {
    position: fixed;
    // width: 100%;
    // height: 100%;
    // background-color: red;
  }
}

#main > #finished-message {
  position: absolute;
  padding-top: 14px;
  width: 100%;
  height: 100px;
  @media all and (max-width: 719px) { // smart
    height: 80px;
  }
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  p {
    width: 100%;
    line-height: 20px;
    font-size: 16px;
    @media all and (max-width: 719px) { // smart
      font-size: 12px;
      line-height: 16px;
    }
    text-align: center;
    color: #ddd;
  }
}

#smart-about {
  position: fixed;
  bottom: 20px;
  width: 100%;
  p {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ddd;
  }
  @media all and (min-width: 720px) { // stickey
    display: none;
  }
}

#top {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;

  #top-logo {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    z-index: 1;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .sprite {
    position: absolute;
    opacity: 0.95;
    width: 80%;
    height: 80%;
    background-size: contain;
    // for animation
    transition: background-image .4s ease-in-out;
    -webkit-transition: background-image .4s ease-in-out;
    transition: width .1s ease-in-out, height .1s ease-in-out;
    -webkit-transition: width .1s ease-in-out, height .1s ease-in-out;
  }
  .sprite.bigmark-c { background-image: url(../img/bigmark-c.png); }
  .sprite.bigmark-m { background-image: url(../img/bigmark-m.png); }
  .sprite.bigmark-y { background-image: url(../img/bigmark-y.png); }
  .sprite.bigmark-r { background-image: url(../img/bigmark-r.png); }
  .sprite.bigmark-g { background-image: url(../img/bigmark-g.png); }
  .sprite.bigmark-b { background-image: url(../img/bigmark-b.png); }

  #sprite-0 {
    left: -20%;
    top: 10%;
  }
  #sprite-1 {
    left: 10%;
    top: 10%;
  }
  #sprite-2 {
    left: 40%;
    top: 10%;
  }
}
