.constraint {
  margin: 0 auto;
  @media all and (max-width: 719px) {
    max-width: 270px;
  }
  @media all and (min-width: 720px) and (max-width: 989px) {
    width: 540px;
  }
  @media all and (min-width: 990px) {
    width: 810px;
  }
}

#main-links {
  background-color: rgba(0, 0, 0, 0.2);
  ul {
    clear: left;
    li {
      float: left;
      width: 270px;
      margin-bottom: 40px;
    }
  }
  .link {
    margin: 0 auto;
    width: 240px;
    .img-clip {
      width: 240px;
      height: 180px;
      margin-bottom: 10px;
      border-radius: 8px;
      overflow: hidden;
      img {
        width: auto;
        height: 180px;
      }
    }
    .title {
      width: 240px;
      margin: 0 auto;
      border: none;
      p {
        text-align: center;
        color: black;
        font-size: 20px;
      }
    }

  }



}