#staff-background {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(../img/staff-background.jpg);
  background-size: cover;
  background-position: center;
}

#staff {
  .title {
    border-bottom: solid 3px;
    border-bottom-color: #ecf0f1;
  }
  p {
    color: #ecf0f1;
  }
  background-color: rgba(0, 0, 0, 0.5);
  ul#staff-list {
    padding-bottom: 100px;
    &>li {
      padding-top: 20px;
      border-bottom: dotted 2px #ecf0f1;
      .subtitle {
        clear: left;
        margin-left: 40px;
        margin-bottom: 20px;
        border-bottom-color: #ecf0f1;
        p {
          font-size: 24px;
        }
      }
      ul {
        list-style: none;
        margin-bottom: 20px;
        margin-left: 40px;
      }
      li {
        float: left;
        width: 120px;
        margin-right: 20px;
        margin-bottom: 10px;
      }
    }
    &>li:last-child {
      border-bottom: none;
    }
  }
}


