@media all and (max-width: 719px) { // smart
}

// colors

$red: #e74c3c;
$green: #27ae60;
$orange: #e67e22;
$cyan: #3498db;
$magenta: #9b59b6;
$yellow: #f1c40f;

// clear fix
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix { display: inline-table; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

// contents

html, body {
  height: 100%;
}

a:hover {
  text-decoration: none;
  opacity: 50%;
}

ul {
  list-style: none;
}

#container {
  height: 100%;
}

#nav {
  position: fixed;
  z-index: 1;
  width: 180px;
  height: 100%;
  border-right: 1px solid #95a5a6;
  background-color: white;
  #nav-top-image {
    margin-top: 60px;
    margin-left: 14px;
    img {
      width: 150px;
      height: auto;
    }
  }
  #links {
    width: 100%;
    margin-top: 100px
  }
  .link {
    margin-left: 36px;
    margin-bottom: 10px;
    width: 108px;
    height: 25px;
    border-bottom: solid 2px;
    a {
      // display: block;
      width: 100%;
      height: 100%;
    }
    p {
      color: black;
      margin-left: 4px;
      font-size: 14px;
    }
  }

  .info {border-bottom-color: $red; }
  .greetings {border-bottom-color: $cyan; }
  .works {border-bottom-color: $yellow; }
  .gallery {border-bottom-color: $green; }
  .staff {border-bottom-color: $orange; }
  .links {border-bottom-color: $magenta; }
}

@media all and (max-width: 719px) { // smart
  #nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 75px;
    border-right: none;
    border-bottom: 1px solid #95a5a6;
    background-color: white;
    #nav-top-image {
      margin-top: 10px;
      margin-left: 10px;
      img {
        float: left;
        width: auto;
        height: 55px;
      }
    }
    #links {
      float: right;
      width: 480px;
      margin-top: 18px
    }
    .link {
      float: left;
      margin-left: 10px;
      margin-bottom: 10px;
      width: 60px;
      height: 18px;
      border-bottom: solid 2px;
      a {
        // display: block;
        width: 100%;
        height: 100%;
      }
      p {
        margin-left: 0px;
        color: black;
        text-align: center;
        font-size: 10px;
      }
    }
    .info {border-bottom-color: $red; }
    .greetings {border-bottom-color: $cyan; }
    .works {border-bottom-color: $yellow; }
    .gallery {border-bottom-color: $green; }
    .staff {border-bottom-color: $orange; }
    .links {border-bottom-color: $magenta; }
  }
  // for animation
  #nav {
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
  }
  #nav.sticky {
    background-color: rgba(255, 255, 255, 0.9);
    height: 40px;
    #nav-top-image {
      display: none;
    }
    #links {
      width: 270px;
      float: none;
      margin: 10px auto;
    }
    .link {
      position: relative;
      width: 18%;
      float: left;
      margin-left: 2%;
      margin-bottom: 10px;
      height: 18px;
      a {
        // display: block;
        width: 100%;
        height: 100%;
      }
      p {
        margin-left: 0px;
        color: black;
        text-align: center;
        font-size: 8px;
      }
    }
  }
}

@media all and (max-width: 600px) { // smart
  #nav {
    #nav-top-image {
      img {
        margin-top: 7px;
        width: 68px;
        height: auto;
      }
    }
  }
  #nav #links {
    width: 240px;
    margin-top: 0px
  }
}

#main {
  position: relative;
  width : -webkit-calc(100% - 180px) ;
  width : calc(100% - 180px);
  left: 180px;
  .title {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    float: left;
    padding: 10px;
    border-bottom: solid 3px;
    p {
      font-size: 40px;
    }
  }
}
@media all and (max-width: 719px) { // smart
#main {
  position: relative;
  width: 100%;
  left: 0px;
  &>div {
    padding-top: 140px;
  }
  .title {
    margin: 0 auto 40px;
    width: 240px;
    float: none;
    padding: 10px;
    border-bottom: solid 3px;
    p {
      font-size: 40px;
      text-align: center;
    }
  }
}
}

// for animation
#main {
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

#main.goast {
  opacity: 0.0;
}

#main-index {
}
