
#works {
  ul#work-list {
    clear: left;
    li {
      float: left;
      width: 280px;
      margin-bottom: 40px;
    }
  }

  .work {
    width: 200px;
    margin-left: 40px;
    .img-clip {
      width: 200px;
      height: 200px;
      margin-bottom: 16px;
      overflow: hidden;
      border-radius: 100px;
      img {
        width: auto;
        height: 200px;
      }
    }
    .work-title {
      p {
        font-size: 24px;
        text-align: center;
        color: black;
      }
    }
  }
}