.constraint {
  margin: 0 auto;
  @media all and (max-width: 540px) {
    width: 80%;
  }
  @media all and (min-width: 540px) and (max-width: 989px) {
    width: 540px;
  }
  @media all and (min-width: 990px) {
    width: 810px;
  }
}

#works-background {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url(../img/works-background.jpg);
  background-size: contain;
}

#works {
  .title {
    border-bottom-color: #ecf0f1;
    p {
      color: #ecf0f1;
    }
  }
  background-color: rgba(0, 0, 0, 0.5);
  ul#work-list {
    clear: left;
    li {
      float: left;
      width: 270px;
      margin-bottom: 80px;
    }
  }

  .work {
    width: 160px;
    margin: 0 auto;
    .img-clip {
      width: 160px;
      height: 160px;
      margin-bottom: 16px;
      overflow: hidden;
      border-radius: 100px;
      img {
        width: auto;
        height: 160px;
      }
    }
    .work-title {
      p {
        font-size: 24px;
        text-align: center;
        color: #ecf0f1;
      }
    }
  }
@media all and (max-width: 539px) { // smart
  ul#work-list {
    clear: left;
    li {
      float: left;
      width: 50%;
      margin-bottom: 60px;
    }
  }
  .work {
    width: 100px;
    margin: 0 auto;
    .img-clip {
      width: 100px;
      height: 100px;
      margin-bottom: 16px;
      overflow: hidden;
      border-radius: 100px;
      img {
        width: auto;
        height: 100px;
      }
    }
    .work-title {
      p {
        font-size: 20px;
        text-align: center;
        color: #ecf0f1;
      }
    }
  }
}
}