!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %title 東京大学制作展
    %meta{:content => "東京大学制作展,iii Exhibition,2014", :name => "keywords"}/
    %meta{:content => "東京大学制作展とは，東大の学生によるメディアアートを中心とした制作物の祭典です。大学院情報学環・学際情報学府の授業の一環として、大学院生が主体となり、企画運営を行っています。", :name => "description"}/
    %meta{:content => "width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no", :name => "viewport"}/
    / OGP
    %meta{:content => "東京大学制作展\"iii Exhibition\" 2014", :property => "og:title"}/
    %meta{:content => "東京大学制作展とは，東大の学生によるメディアアートを中心とした制作物の祭典です。大学院情報学環・学際情報学府の授業の一環として、大学院生が主体となり、企画運営を行っています。", :property => "og:description"}/
    %meta{:content => "http://www.iiiexhibition.com/img/ogp.png", :property => "og:image"}/
    %meta{:content => "http://www.iiiexhibition.com/", :property => "og:url"}/
    %meta{:content => "university", :property => "og:type"}/
    %meta{:content => "東京大学制作展", :property => "og:site_name"}/
    / end OGP
    / %meta{:content => "telephone=no", :name => "format-detection"}/
    / Bootstrap
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    %link{:href => "./img/favicon.ico", :rel => "shortcut icon"}/
    / %link{:href => "css/smart.css", :media => "only screen and (max-device-width:480px)", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/reset.min.css", :rel => "stylesheet"}/
    / %link{:href => "css/style.css", :media => "screen and (min-device-width:481px)", :rel => "stylesheet", :type => "text/css"}/
    /[if IE] <script type="text/javascript" src="excanvas.js"></script>
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/links.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #container.clearfix
      #nav
        #nav-top-image
          %a{href: '.'}<
            %img{src: "img/nav-logo.png", alt: "東京大学制作展"}
        #links.clearfix
          .link.info
            %a{href: './info.html'}<
              %p 開催概要
          .link.greetings
            %a{href: './greetings.html'}<
              %p ご挨拶
          .link.works
            %a{href: './works.html'}<
              %p 作品紹介
          .link.gallery
            %a{href: './gallery.html'}<
              %p ギャラリー
          .link.staff
            %a{href: './staff.html'}<
              %p スタッフ
          .link.links
            %a{href: './links.html'}<
              %p リンク
      #main.goast
        #main-links.clearfix
          .title
            %p リンク
          .constraint
            %ul
              %li
                %a{href: 'http://www.iiiexhibition.com/'}
                  .link
                    .img-clip
                      %img{src: './img/links/2014-summer.png'}
                    .title
                      %p 2014年 Extra
              %li
                %a{href: 'http://www.iiiexhibition.com/'}
                  .link
                    .img-clip
                      %img{src: './img/links/2014-summer.png'}
                    .title
                      %p 2014年 Extra
              %li
                %a{href: 'http://www.iiiexhibition.com/'}
                  .link
                    .img-clip
                      %img{src: './img/links/2014-summer.png'}
                    .title
                      %p 2014年 Extra
              %li
                %a{href: 'http://www.iiiexhibition.com/'}
                  .link
                    .img-clip
                      %img{src: './img/links/2014-summer.png'}
                    .title
                      %p 2014年 Extra
              %li
                %a{href: 'http://www.iiiexhibition.com/'}
                  .link
                    .img-clip
                      %img{src: './img/links/2014-summer.png'}
                    .title
                      %p 2014年 Extra
              %li
                %a{href: 'http://www.iiiexhibition.com/'}
                  .link
                    .img-clip
                      %img{src: './img/links/2014-summer.png'}
                    .title
                      %p 2014年 Extra

      #footer
      / jQuery (necessary for Bootstrap's JavaScript plugins)
      %script{:src => "js/jquery-2.1.0.min.js"}
      / Include all compiled plugins (below), or include individual files as needed
      %script{:src => "js/bootstrap.min.js"}
      %script{:src => "js/main.js"}
