!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %title 東京大学制作展
    %meta{:content => "東京大学制作展,iii Exhibition,2014", :name => "keywords"}/
    %meta{:content => "東京大学制作展とは，東大の学生によるメディアアートを中心とした制作物の祭典です。大学院情報学環・学際情報学府の授業の一環として、大学院生が主体となり、企画運営を行っています。", :name => "description"}/
    %meta{:content => "width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no", :name => "viewport"}/
    / OGP
    %meta{:content => "東京大学制作展\"iii Exhibition\" 2014", :property => "og:title"}/
    %meta{:content => "東京大学制作展とは，東大の学生によるメディアアートを中心とした制作物の祭典です。大学院情報学環・学際情報学府の授業の一環として、大学院生が主体となり、企画運営を行っています。", :property => "og:description"}/
    %meta{:content => "http://www.iiiexhibition.com/img/ogp.png", :property => "og:image"}/
    %meta{:content => "http://www.iiiexhibition.com/", :property => "og:url"}/
    %meta{:content => "university", :property => "og:type"}/
    %meta{:content => "東京大学制作展", :property => "og:site_name"}/
    / end OGP
    / %meta{:content => "telephone=no", :name => "format-detection"}/
    / Bootstrap
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    %link{:href => "./img/favicon.ico", :rel => "shortcut icon"}/
    / %link{:href => "css/smart.css", :media => "only screen and (max-device-width:480px)", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/reset.min.css", :rel => "stylesheet"}/
    / %link{:href => "css/style.css", :media => "screen and (min-device-width:481px)", :rel => "stylesheet", :type => "text/css"}/
    /[if IE] <script type="text/javascript" src="excanvas.js"></script>
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "css/staff.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #container.clearfix
      #nav
        #nav-top-image
          %a{href: '.'}<
            %img{src: "img/nav-logo.png", alt: "東京大学制作展"}
        #links.clearfix
          .link.info
            %a{href: './info.html'}<
              %p 開催概要
          .link.greetings
            %a{href: './greetings.html'}<
              %p ご挨拶
          .link.works
            %a{href: './works.html'}<
              %p 作品紹介
          .link.gallery
            %a{href: './gallery.html'}<
              %p ギャラリー
          .link.staff
            %a{href: './staff.html'}<
              %p スタッフ
          .link.links
            %a{href: './links.html'}<
              %p リンク
      #main.goast
        #staff
          .title
            %p スタッフ
          %ul#staff-list
            %li
              .subtitle
                %p プロデューサー
              %ul.clearfix
                %li
                  %p 北原　俊
                %li
                  %p 平木　剛史
            %li
              .subtitle
                %p 会計
              %ul.clearfix
                %li
                  %p 山本　紘暉
            %li
              .subtitle
                %p Web・記録
              %ul.clearfix
                %li
                  %p 長徳　将希
                %li
                  %p 都甲　直之
                %li
                  %p 川瀬　佑司
                %li
                  %p 李 遂喆
            %li
              .subtitle
                %p デザイン
              %ul.clearfix
                %li
                  %p 中村　鮎葉
                %li
                  %p 高橋　一成
                %li
                  %p 宇田川　祐志
                %li
                  %p 栗本　拓紀
                %li
                  %p 村上晋太郎
            %li
              .subtitle
                %p 会場
              %ul.clearfix
                %li
                  %p 藤縄　英佑
                %li
                  %p 宇治土公　雄介
                %li
                  %p 荒巻　祐治
                %li
                  %p 田中　遼平
            %li
              .subtitle
                %p 広報
              %ul.clearfix
                %li
                  %p 加賀谷　北斗
                %li
                  %p 向井　寛人
                %li
                  %p 藤本　浩介
                %li
                  %p 有田　祥馬
            %li
              .subtitle
                %p 担当教員
              %ul.clearfix
                %li
                  %p 苗村　健
                %li
                  %p 荒川　忠一
                %li
                  %p 水越　伸
                %li
                  %p 小松　宏誠
                %li
                  %p 赤川　智洋
      #footer
      / jQuery (necessary for Bootstrap's JavaScript plugins)
      %script{:src => "js/jquery-2.1.0.min.js"}
      / Include all compiled plugins (below), or include individual files as needed
      %script{:src => "js/bootstrap.min.js"}
      %script{:src => "js/main.js"}
